 <!--==================== LOADER ====================-->
 <!--
<div class="load" id="load">
    <img src="assets/img/loadlogo.gif" alt="" class="load__gif">
</div>
-->

<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo nav__title">
            <img src="assets/img/logo.png" alt="" class="nav__logo-img">
            Avocado's Notes
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#products" class="nav__link">Productos</a>
                </li>
                <li class="nav__item">
                    <a href="#garantia" class="nav__link">Garantía</a>
                </li>
                <li class="nav__item">
                    <a href="#testimonial" class="nav__link">Testimonios</a>
                </li>                    
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>
        </div>

        <!-- Toogle and shop button-->
        <!-- <div class="nav btns"> -->
            <div class="nav__btns">
                <div class="nav__shop" id="cart-shop">
                    <i class='bx bx-shopping-bag' ></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt' ></i>
                </div>
            </div>
        <!-- </div> -->
    </nav>
</header>

<!--==================== CART ====================-->
<div class="cart" id="cart">
    <i class='bx bx-x cart__close' id="cart-close"></i>

    <h2 class="cart__title-center">Mi Carrito</h2>

    <div class="cart__container">
        <article class="cart__card">
            <div class="cart__box">
                <img src="assets/img/Basico1.png" alt="" class="cart__img">
            </div>

            <div class="cart__details">
                <h3 class="cart__title">Basico 1</h3>
                <span class="cart__price">$299</span>

                <div class="cart__amount">
                    <div class="cart__amount-content">
                        <span class="cart__amount-box">
                            <i class='bx bx-minus' ></i>
                        </span>

                        <span class="cart__amount-number">1</span>

                        <span class="cart__amount-box">
                            <i class='bx bx-plus' ></i>
                        </span>
                    </div>

                    <i class='bx bx-trash-alt cart__amount-trash' ></i>
                </div>
            </div>
        </article>
        
        <article class="cart__card">
            <div class="cart__box">
                <img src="assets/img/Abstract1.png" alt="" class="cart__img">
            </div>

            <div class="cart__details">
                <h3 class="cart__title">Rose Gold</h3>
                <span class="cart__price">$850</span>

                <div class="cart__amount">
                    <div class="cart__amount-content">
                        <span class="cart__amount-box">
                            <i class='bx bx-minus' ></i>
                        </span>

                        <span class="cart__amount-number">1</span>

                        <span class="cart__amount-box">
                            <i class='bx bx-plus' ></i>
                        </span>
                    </div>

                    <i class='bx bx-trash-alt cart__amount-trash' ></i>
                </div>
            </div>
        </article>

        <article class="cart__card">
            <div class="cart__box">
                <img src="assets/img/Animals1.png" alt="" class="cart__img">
            </div>

            <div class="cart__details">
                <h3 class="cart__title">Longines Rose</h3>
                <span class="cart__price">$980</span>

                <div class="cart__amount">
                    <div class="cart__amount-content">
                        <span class="cart__amount-box">
                            <i class='bx bx-minus' ></i>
                        </span>

                        <span class="cart__amount-number">1</span>

                        <span class="cart__amount-box">
                            <i class='bx bx-plus' ></i>
                        </span>
                    </div>

                    <i class='bx bx-trash-alt cart__amount-trash' ></i>
                </div>
            </div>
        </article>
    </div>

    <div class="cart__prices">
        <span class="cart__prices-item">3 items</span>
        <span class="cart__prices-total">$999</span>
    </div>
</div>

<!--==================== MAIN ====================-->
<main>
    <!--==================== HOME ====================-->
    <section class="home grid" id="home">
        <div class="home__container">
            <div class="home__content container">
                <h1 class="home__title">
                    All use bag, ¿y tú, <span>qué guardarás en la tuya?</span>
                </h1>
                <p class="home__description">
                    Encuentra la tuya ahora mismo.
                </p>

                <div class="home__data">
                    <div class="home__data-group">
                        <h2 class="home__data-number">500+</h2>
                        <h3 class="home__data-title">Vendidas</h3>
                        <p class="home__data-description">Diseñadas cuidadosamente con la más alta calidad.</p>
                    </div>

                    <div class="home__data-group">
                        <h2 class="home__data-number">10+</h2>
                        <h3 class="home__data-title">Diseños únicos</h3>
                        <p class="home__data-description">Hay una para todxs, encuentra la tuya.</p>
                    </div>

                    <div class="home__data-group">
                        <h2 class="home__data-number"></h2>
                        <h3 class="home__data-title"></h3>
                        <p class="home__data-description"></p>
                    </div>
                </div>

                <a href="#specialty">
                    <img src="assets/img/scroll.png" alt="" class="home__scroll">
                </a>
            </div>
        </div>
        <img src="assets/img/home.png" alt="" class="home__img">
    </section>

    <!--==================== ESPECIALTY ====================-->
    <div class="specialty section" id="specialty">
        <div class="specialty__container container">
            <div class="specialty__box">
                <h2 class="section__title">
                    Estuche que te harán más productiva a la última moda
                </h2>
            </div>

            <div class="specialty__category">
                <div class="specialty__group specialty__line">
                    <img src="assets/img/specialty1.png" alt="" class="specialty__img">
                    <h3 class="specialty__title"> Materiales </h3>
                        <p class="specialty__description">
                            &#8226; Canva,<br>
                            &#8226; Resistente y durable,<br>
                            &#8226; Costura refinada,<br>
                            &#8226; Cierres de metal,<br>
                            &#8226; Piel sintética*.
                        </p>
                </div>

                <div class="specialty__group specialty__line ">
                    <img src="assets/img/specialty2.png" alt="" class="specialty__img">
                    <h3 class="specialty__title"> Diseño </h3>
                        <p class="specialty__description">
                            &#8226; Retráctil, <br>
                            &#8226; Accesible. <br>
                            &#8226; Portable <br>
                            &#8226; 6 x 8 x 17cm desplegada. <br>
                            &#8226; 6 x 8 x 12cm plegada.
                        </p>
                </div>

                <div class="specialty__group">
                    <img src="assets/img/specialty3.png" alt="" class="specialty__img">
                    <h3 class="specialty__title"> Capacidad</h3>
                        <p class="specialty__description">
                            Todo lo puede, tu All-use bag podrá guardar todo lo que necesites: <br>
                            &#8226; lápices,<br> 
                            &#8226; cargador, <br>
                            &#8226; maquillaje, <br>
                            &#8226; smartphone y, <br>
                            &#8226; más...
                        </p>
                </div>
            </div>
        </div>
    </div>

    <!--==================== PRODUCTS ====================-->
    <section class="products section" id="products">
        <div class="products__container container">
            <h2 class="section__title">
                Elige tu All-use bag favorita.
            </h2>

            <ul class="products__filters">
                <li class="products__item products__line active-product" data-filter=".basics">
                    <h3 class="products__title">Basics</h3>
                    <span class="products__stock">5 colores</span>
                </li>

                <li class="products__item products__line" data-filter=".animals">
                    <h3 class="products__title">Animals</h3>
                    <span class="products__stock">3 animales</span>
                </li>

                <li class="products__item products__line" data-filter=".abstract">
                    <h3 class="products__title">Abstract</h3>
                    <span class="products__stock">4 patrones</span>
                </li>

            </ul>
            <div class="products__content grid">
                     <!--=========== Basics ============-->
                     <article class="products__card basics">
                         <div class="products__shape">
                             <img src="assets/img/Basico1.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$259</h2>
                             <h3 class="products__name">Verde</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card basics">
                         <div class="products__shape">
                             <img src="assets/img/Basico2.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$259</h2>
                             <h3 class="products__name">Morado</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card basics">
                         <div class="products__shape">
                             <img src="assets/img/Basico3.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$259</h2>
                             <h3 class="products__name">Azul</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card basics">
                         <div class="products__shape">
                             <img src="assets/img/Basico4.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$259</h2>
                             <h3 class="products__name">Rosa</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card basics">
                         <div class="products__shape">
                             <img src="assets/img/Basico5.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$259</h2>
                             <h3 class="products__name">Amarillo</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <!--=========== Animals ============-->
                     <article class="products__card animals">
                         <div class="products__shape">
                             <img src="assets/img/Animals1.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$359</h2>
                             <h3 class="products__name">Unicorn</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card animals">
                         <div class="products__shape">
                             <img src="assets/img/Animals2.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$349</h2>
                             <h3 class="products__name">Oso</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card animals">
                         <div class="products__shape">
                             <img src="assets/img/Animals3.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$349</h2>
                             <h3 class="products__name">Gatito</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <!--=========== Abstract ============-->
                     <article class="products__card abstract">
                         <div class="products__shape">
                             <img src="assets/img/Abstract1.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$359</h2>
                             <h3 class="products__name">Arcoiris</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card abstract">
                         <div class="products__shape">
                             <img src="assets/img/Abstract2.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$329</h2>
                             <h3 class="products__name">Cuadros</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card abstract">
                         <div class="products__shape">
                             <img src="assets/img/Abstract3.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$299</h2>
                             <h3 class="products__name">Puntos azules</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                     <article class="products__card abstract">
                         <div class="products__shape">
                             <img src="assets/img/Abstract4.png" alt="" class="products__img">
                         </div>

                         <div class="products__data">
                             <h2 class="products__price">$299</h2>
                             <h3 class="products__name">Puntos rosas</h3>

                             <button class="button products__button">
                                 <i class='bx bx-shopping-bag'></i>
                             </button>
                         </div>
                     </article>

                </div>
         </div>
    </section>

    <!--==================== GARANTÍA ====================-->
    <div class="specialty section" id="garantia">
        <div class="specialty__container container">
            <div class="specialty__box">
                <h2 class="section__title">
                    Nuestra promesa
                </h2>
            </div>

            <div class="specialty__category">
                <div class="specialty__group specialty__line">
                    <i class='bx bx-package quality_img'></i>
                    <h3 class="specialty__title"> Envíos </h3>
                        <p class="specialty__description">
                            &#8226; A toda la República.<br>
                            &#8226; Paqueterías: Redpack, DHL, FedEx y 99 Minutos.<br>
                        </p>
                </div>

                <div class="specialty__group specialty__line">
                    <i class='bx bxs-wallet-alt quality_img'></i>
                    <h3 class="specialty__title"> Métodos de pago </h3>
                        <p class="specialty__description">
                            &#8226; Tarjetas de crédito y débito.<br>
                            &#8226; PayPal.<br>
                            &#8226; Mercado Pago.<br>
                        </p>
                </div>

                <div class="specialty__group">
                    <i class='bx bxs-happy-beaming quality_img'></i>
                    <h3 class="specialty__title"> Satisfacción </h3>
                        <p class="specialty__description">
                            &#8226; Tasa del 96% de satisfacción.<br> 
                            &#8226; Más de 500 vendidas.<br>
                            &#8226; Clientes de todo México.<br>
                        </p>
                </div>
            </div>
        </div>
    </div>

    
    <!--==================== TESTIMONIAL ====================-->
    <div class="testimonial__section" id="testimonial">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial__box">
                      <i class='bx bxs-quote-alt-left quote'></i>
                      <div class="testimonial__content">
                          <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam alias praesentium voluptatum, nam eaque animi, dolor neque! Veniam ipsam perferendis assumenda esse sit possimus aliquid omnis vel magnam animi. Rem.
                          </p>
                          <div class="testimonial__details">
                              <div class="imgBx">
                                  <img src="assets/img/testimonial1.jpg" alt="">
                              </div>
                              <h3>Cliente satisfecho<br>
                                <span>
                                    Diseñador creativo
                                </span>
                              </h3>
                          </div>
                      </div>
                  </div>  
                </div>

                <div class="swiper-slide">
                  <div class="testimonial__box">
                      <i class='bx bxs-quote-alt-left quote'></i>
                      <div class="testimonial__content">
                          <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam alias praesentium voluptatum, nam eaque animi, dolor neque! Veniam ipsam perferendis assumenda esse sit possimus aliquid omnis vel magnam animi. Rem.
                          </p>
                          <div class="testimonial__details">
                              <div class="imgBx">
                                  <img src="assets/img/testimonial2.jpg" alt="">
                              </div>
                              <h3>Cliente satisfecho<br>
                                <span>
                                    Diseñadora creativa
                                </span>
                              </h3>
                          </div>
                      </div>
                  </div>  
                </div>

                <div class="swiper-slide">
                  <div class="testimonial__box">
                      <i class='bx bxs-quote-alt-left quote'></i>
                      <div class="testimonial__content">
                          <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam alias praesentium voluptatum, nam eaque animi, dolor neque! Veniam ipsam perferendis assumenda esse sit possimus aliquid omnis vel magnam animi. Rem.
                          </p>
                          <div class="testimonial__details">
                              <div class="imgBx">
                                  <img src="assets/img/testimonial3.jpg" alt="">
                              </div>
                              <h3>Cliente satisfecho<br>
                                <span>
                                    Diseñadore creative
                                </span>
                              </h3>
                          </div>
                      </div>
                  </div>  
                </div> 

            </div>
        </div>
    </div>

</main>

<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__container container">
        <!-- <h1 class="footer__title">Avocado's Notes</h1> -->
        <a href="#" class="footer__title">
            <img src="assets/img/logo.png" alt="" class="nav__logo-img">
            Avocado's Notes
        </a>

        <div class="footer__content grid">
            <div class="footer__data">
                <p class="footer__description">
                    Subscribe to our newsletter
                </p>

                <div class="footer__newsletter">
                    <input type="email" placeholder="Dirección de correo" class="footer__input">
                    <button class="footer__button">
                        <i class='bx bx-right-arrow-alt' ></i>
                    </button>
                </div>
            </div>

            <div class="footer__data">
                <h2 class="footer__subtitle">Dirección</h2>
                <p class="footer__information">
                    Manuela Cañizares 216, <br>
                    Coyoacán, CDMX, México.
                </p>
                <img src="assets/img/footerflag.png" alt="">
            </div>
            <div class="footer__data">
                <h2 class="footer__subtitle">Contacto</h2>
                <p class="footer__information">
                    contacto@avocadosnotes.com
                </p>
            </div>
            <div class="footer__data">
                <h2 class="footer__subtitle">Políticas</h2>
                <p class="footer__information">
                    Términos y Condiciones <br>
                    Aviso de Privacidad
                </p>
            </div>
        </div>

        <div class="footer__group">
            <ul class="footer__social">
                <a href="https://www.facebook.com/avocadosnotes01/" target="_blank"class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/avocadosnotes01/" target="_blank"class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://www.tiktok.com/@avocadosnotes01" target="_blank"class="footer__social-link">
                    <i class='bx bxl-tiktok' ></i>
                </a>
            </ul>

            <span class="footer__copy">
                &#169; Bedimcode. All rigths reserved
            </span>
        </div>
    </div>
</footer>


<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class='bx bx-chevron-up' ></i>
</a>

<!--=============== SWIPER JS ===============-->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!--=============== MIXITUP FILTER ===============-->
<script src="assets/js/mixitup.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>